html, body {
  height: 100%;
}

#image_s{
min-width:160px;
min-height:160px;
width:22vw;
height:17vw;
}

#mapid { height: 100%; }

.header{
        font-size:calc(12px + 1.2vw);
margin:1.2vw !important;
font-weight: bold;
}

.legend_header{
        font-size:calc(12px + 1.2vw);
margin:1.2vw !important;
}

.subheader{
    line-height: 18px;
        font-size:calc(12px + 0.4vw);
}

.date{
font-size:calc(7px + 0.3vw);
}

.legend {
line-height: 18px;
font-size:calc(12px + 0.5vw);
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}